<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <nav class="navbar"> 
            <div id="title">
                <h1>Test</h1> 
            </div>
            <div id="definetododlist">
                <a routerLink="/createtodolist" routerLinkActive="active" ariaCurrentWhenActive="page"> 
                    Defining my todo list 
                </a>
            </div>
            <div id="profil">
                <h2>
                    Profile
                </h2>
            </div>

        </nav>
    </div>
    
</body>
</html>
