.navbar{
    background-color: rgb(87, 148, 199);
    padding: 10px;
    border-radius: 5px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.navbar h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.navbar h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
